.setting-div{
    padding: 5px;
}
.setting-div .setting-card{
    padding: 5px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 0.1px 0.5px inset gray;
    margin-top: 10px;
}
.setting-div .setting-card h3{
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}
.setting-div .setting-card form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.setting-div .setting-card form button{
    font-size: 1rem;
    padding: 3px;
    background-color: blue;
    color: white;
    font-weight:700;
    border: 2px solid white;
}
.setting-div .setting-card form button:hover{
    color: blue;
    background-color: white;
    border-color: blue;
}
.setting-div .setting-card form fieldset{
    width: 100%;
    padding: 5px;
}
.setting-div .setting-card form fieldset input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1rem;
}
.setting-div .setting-card form fieldset button{
    display: block;
    margin: auto;
    margin-top: 5px;
}

